/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Yeseva+One&display=swap');

/*
Dimentions
Mobile: 375px
Desktop: 1440px

Font size (paragraph): 14px
    Colors
        Primary
            Dark cyan: hsl(158, 36%, 37%)
            Cream: hsl(30, 38%, 92%)
        Neutral
            Very dark blue: hsl(212, 21%, 14%)
            Dark grayish blue: hsl(228, 12%, 48%)
            White: hsl(0, 0%, 100%)
*/
:root {
    --primary-dark-cyan : hsl(158, 36%, 37%);
    --primary-cream : hsl(30, 38%, 92%);
    --neutral-dark-blue : hsl(212, 21%, 14%);
    --neutral-grayish-blue : hsl(228, 12%, 48%);
}
html,
body {
    margin:0;
    padding:0;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 14px;
    color: var(--neutral-grayish-blue);
    line-height: 1.7;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card {
    background-color: white;
    display: flex;
    max-width: 500px;
    border-radius: 8px;
}
.product-image {
    flex:50%;
}
.product-image > img {
    content: url("./images/image-product-desktop.jpg");
    max-width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.product-discr{
    flex:50%;
    padding: 0 1rem;
}
.product-discr > h1{
    margin: 3px 0;
    color: var(--neutral-dark-blue);
    line-height: 0.9;
}
.add-to-cart-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;

}
.add-to-cart-btn:hover {
    background-color: hsl(158, 36%, 18%);
}
.product-price {
    display: flex;
    align-items: center;
    height: 50px;
}
.current-price{
    color: var(--primary-dark-cyan);
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Yeseva One', cursive;
    margin-right: 20px;
}
.prod-perfume{
    font-size: 12px;
    margin-bottom: 0;
    letter-spacing: 5px;
    margin: 8px 0;
}
.discounted-price {
    text-decoration: line-through;
}
@media only screen and (max-width: 560px) {
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-image > img {
        content: url("./images/image-product-mobile.jpg");
        max-width: 100%;
        max-height: 100%;
    }
    .product-card {
        flex-direction: column;
        max-height: 100vh;
    }
    .product-image{
        flex: 50%;
    }
}